<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <button mat-button class="menu-button" routerLink="/">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <button mat-button class="menu-button" routerLink="/vendas">
    <mat-icon>person</mat-icon>
    <span>Vendas</span>
  </button>
  <button mat-button class="menu-button" routerLink="/about">
    <mat-icon>info</mat-icon>
    <span>About</span>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" >
    <img
      class="avatar mat-elevation-z8"
      ngSrc="../../../assets/iconPerfil.png" alt="iconPerfil" height="751" width="754" >

    <h4 class="name">Amor & Artesanato</h4>
    <p class="designation">Amar também é uma arte!</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button"href="https://www.instagram.com/" target="_blank">
      <mat-icon>account_box</mat-icon>
      <span>Instagram</span>
    </button>
    <button mat-button class="menu-button" href="https://www.instagram.com/" target="_blank">
      <mat-icon>phone</mat-icon>
      <span>WhatsApp</span>
    </button>
    <button mat-button class="menu-button" routerLink="/about">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/help">
      <mat-icon>help</mat-icon>
      <span></span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
